

    <button class="dropdown-item"><a class="nav-link text-dark" asp-area="" asp-controller="Usuarios" asp-action="ErabiltzaileaErosketa" asp-route-id="">Erosketak</a></button>
    <button class="dropdown-item"><a class="nav-link text-dark" asp-area="" asp-controller="Usuarios" asp-action="pasahitzaAldatu" asp-route-id="">Pazaitza aldatu</a></button>


